body {
    background: linear-gradient(to right, hsl(200, 100%, 50%), hsl(175, 100%, 50%));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 20px;
    overflow: hidden;
}

span {
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: default;
    user-select: none;
}

.clock {
    position: relative;
    height: 500px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    border: 2px solid black;
}

.clock::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clock .number {
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
}

.clock .number1 { --rotation: 30deg; }
.clock .number2 { --rotation: 60deg; }
.clock .number3 { --rotation: 90deg; }
.clock .number4 { --rotation: 120deg; }
.clock .number5 { --rotation: 150deg; }
.clock .number6 { --rotation: 180deg; }
.clock .number7 { --rotation: 210deg; }
.clock .number8 { --rotation: 240deg; }
.clock .number9 { --rotation: 270deg; }
.clock .number10 { --rotation: 300deg; }
.clock .number11 { --rotation: 330deg; }

.clock .hand {
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
    transform-origin: bottom;
    background-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.hand.second {
    background-color: red;
    width: 3px;
    height: 40%;
}

.hand.minute {
    background-color: black;
    width: 7px;
    height: 35%;
}

.hand.hour {
    background-color: black;
    width: 10px;
    height: 30%;
}

.clock-digital {
    width: 400px;
    height: 100px;
    background-color: #80d4ea;
    font-family: courier, monospace;
    text-align: center;
    border: 2px solid black;
    display: flex;
    color: white;
    font-size: 50px;
}

.hour-digital {
    position: relative;
    margin: auto;
    flex: 1;
}

.hour-digital:after {
    content: ":";
    position: absolute;
    right: 0;
}

.minute-digital {
    position: relative;
    margin: auto;
    flex: 1;
}

.minute-digital:after {
    content: ":";
    position: absolute;
    right: 0;
}

.second-digital {
    position: relative;
    margin: auto;
    flex: 1;
}

.second-digital:after {
    content: ":";
    position: absolute;
    right: 0;
}

.meridiem-digital {
    margin: auto;
    flex: 1;
}